/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilites*/
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top:21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* ---------------------
    navigation-style
--------------------- */
#navigation{
    background-color: #562EFF;
    display: flex;
    justify-content: center;
}
#nav-container{
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left img{
    width:40px;
    height: 51px;
}
.nav-left span{
    color: white;
    margin-left: 15px;
    font-size: 24px;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    margin-left: 36px;
}
.nav-right ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-profile{
    width: 51px;
    height: 51px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* ----------------------
    top blog styles
---------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 46px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* ------------------
    cources style
------------------ */
.cources{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    padding: 23px;
    box-shadow: 0px 0px 2px rgba(191, 187, 187, 0.481);
    border-radius: 5px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    color: #1E1E1E;
}
.course-author{
    font-size: 14px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.field{
    color:#FFC014;
}
.fa-star.empty{
    color:#aeaeaea6;
}
.rating-average{
    color: #A2A2A2;
}
.course-duration{
    color: #FF4A60;
    background-color: #faa8966e;
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
}